<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mmarquezpr.uisample.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mmarquezpr.uisample.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mmarquezpr.uisample.app.TextViewActivity"
            android:label="@string/title_activity_text_view" >
        </activity>
        <activity
            android:name="mmarquezpr.uisample.app.EditTextActivity"
            android:label="@string/title_activity_edit_text" >
        </activity>
        <activity
            android:name="mmarquezpr.uisample.app.ButtonActivity"
            android:label="@string/title_activity_button" >
        </activity>
        <activity
            android:name="mmarquezpr.uisample.app.SpinnerAcitivty"
            android:label="@string/title_activity_spinner_acitivty" >
        </activity>
    </application>

</manifest>
